PORT=3001
APP_BASE_URL=http://localhost:3001
DB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/esewaESEWA_SECRET_KEY=replace-with-your-esewa-secret-key
ESEWA_GATEWAY_URL=https://rc-epay.esewa.com.np
ESEWA_PRODUCT_CODE=EPAYTEST


